<select id="showBrowser" class="select button" name="browser">
    <option value="">Show Browser</option>
    {{! TODO: get browsers list }}
    <option value="ie11">ie11</option>
    <option value="ie9">ie9</option>
    <option value="ie8">ie8</option>
    <option value="chrome-latest">chrome-latest</option>
    <option value="opera-v12.16">opera-v12.16</option>
    <option value="firefox-latest">firefox-latest</option>
</select>
<style id="stylesoHideBrowsers"></style>
